body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #87CEEB; /* Sky Blue background */
  color: white;
  height: 100%;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #007ACC; /* Slightly darker sky blue */
  padding: 20px;
  margin-bottom: 40px;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 120px);
}

.file-upload {
  background-color: #007ACC;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-label {
  background-color: #ffffff;
  color: #007ACC;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

#file-input {
  display: none;
}

.upload-label:hover {
  background-color: #e6e6e6;
}

.submit-button {
  background-color: #ffffff;
  color: #007ACC;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.summary-box {
  background-color: #ffffff;
  color: #007ACC;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

h2 {
  margin-top: 0;
}

p {
  margin: 0;
}
